<div>
  <h1>All Cards</h1>
  

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">Cards</a>
    
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="open(textmodal)">Add Card</a>
      </li>
    </ul>
  </nav>

  <app-card-display [(cards)]="cards" (cardUpdate)="updateCard($event); open(textmodal)"></app-card-display>

  <ng-template #textmodal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add new card</h4>
      <button type="button" class="close-btn" aria-label="Close" (click)="modal.dismiss('Cross click'); resetCard();">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <textarea class="form-control" rows="5" id="comment" [(ngModel)]="cardText" maxlength="200"></textarea>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="saveData()">Save</button>
    </div>
  </ng-template>

  

  
</div>