/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}


.close-btn {
    margin-top: -1.8rem;
    float: right;
    background: transparent;
    margin-right: -15px;
    border: none;
    width: 30px;
}

.close-btn:hover {
    border: 1px solid grey;
    border-radius: 50%;
}
